{% extends 'base.html' %}

{% block title %}
    <title>Coventry Scholars: News Classifier</title>
{% endblock %}

{% block content %}
    <section class="container">
        <div class="col-md-8 mt-5">
            <h3 class="fw-bold">News Text Classifier</h3>

            {% if news_class|length != 0 %}
                <div class="alert alert-warning" role="alert">
                    <h4 class="text-capitalize">{{news_class}}</h4> 
                </div>
            {% endif %}

            <form class="mt-4" method="post" action="/classifier">
                <div class="form-group">
                    <textarea class="form-control" name='news_text' placeholder="Paste news paragraph here ...">{{text}}</textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Classify News</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}