<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} {% endblock %}
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
    {% block css %}{% endblock %}
</head>

<body>

    <div class="wrapper">

        <!-- Top Bar-->
        <header class="top-nav">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <span class="navbar-text">
                            <img class="w-50" src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" />
                        </span>
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link fw-bold" href="{{ url_for('index')}}">SearchEngine</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fw-bold" href="{{ url_for('classifier')}}">NewsClassifier</a>
                            </li> 
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <!-- Main Body -->
        <main class="content">
            {% block content %}{% endblock %}
        </main>
    </div>

    <!-- Footer -->
    <footer class="bg-light mt-auto">
        <div class="container py-3">
            <p class="text-center">
                &copy; <span id="copyright-year"></span>
                Your coventry scholars. All rights reserved.
            </p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        const year = new Date().getFullYear();
        const copyright = document.querySelector('#copyright-year');
        copyright.innerHTML = year;
    </script>
    {% block js %}{% endblock %}
</body>

</html>